@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blur-navbar {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0,0.5);
}

/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
}

/* Estilo para o indicador da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Cor do indicador da barra de rolagem */
  border-radius: 5px; /* Raio de borda do indicador da barra de rolagem */
}


/* Estilo para o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Cor de fundo da barra de rolagem */
}

/* Estilo para os cantos da barra de rolagem */
::-webkit-scrollbar-corner {
  background-color: #02020200; /* Cor de fundo dos cantos da barra de rolagem */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
